{% extends 'base.html.twig' %}

{% block title %}Passeport{% endblock %}

{% block body %}
    <h1>Passeport</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ passeport.id }}</td>
            </tr>
            <tr>
                <th>LibellePass</th>
                <td>{{ passeport.libellePass }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('passeport_index') }}">back to list</a>

    <a href="{{ path('passeport_edit', {'id': passeport.id}) }}">edit</a>

    {{ include('passeport/_delete_form.html.twig') }}
{% endblock %}
