{% extends 'base.html.twig' %}

{% block title %}Adherent index {% endblock %}

{% block body %}
    <h1>Adherent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumLicence</th>
                <th>Prenom</th>
                <th>DateNaiss</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Cp</th>
                <th>Sexe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adherent in adherents %}
            <tr>
                <td>{{ adherent.id }}</td>
                <td>{{ adherent.numLicence }}</td>
                <td>{{ adherent.prenom }}</td>
                <td>{{ adherent.dateNaiss ? adherent.dateNaiss|date('Y-m-d') : '' }}</td>
                <td>{{ adherent.rue }}</td>
                <td>{{ adherent.ville }}</td>
                <td>{{ adherent.cp }}</td>
                <td>{{ adherent.sexe }}</td>
                <td>
                    <a href="{{ path('adherent_show', {'id': adherent.id}) }}">show</a>
                    <a href="{{ path('adherent_edit', {'id': adherent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('adherent_new') }}">Create new</a>
{% endblock %}
