{% extends 'base.html.twig' %}

{% block title %}Ceinture index{% endblock %}

{% block body %}
    <h1>Ceinture index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>LibelleCeinture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ceinture in ceintures %}
            <tr>
                <td>{{ ceinture.id }}</td>
                <td>{{ ceinture.libelleCeinture }}</td>
                <td>
                    <a href="{{ path('ceinture_show', {'id': ceinture.id}) }}">show</a>
                    <a href="{{ path('ceinture_edit', {'id': ceinture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ceinture_new') }}">Create new</a>
{% endblock %}
