{% extends 'base.html.twig' %}

{% block title %}Ceinture{% endblock %}

{% block body %}
    <h1>Ceinture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ceinture.id }}</td>
            </tr>
            <tr>
                <th>LibelleCeinture</th>
                <td>{{ ceinture.libelleCeinture }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ceinture_index') }}">back to list</a>

    <a href="{{ path('ceinture_edit', {'id': ceinture.id}) }}">edit</a>

    {{ include('ceinture/_delete_form.html.twig') }}
{% endblock %}
