{% extends 'base.html.twig' %}

{% block title %}Certificat index{% endblock %}

{% block body %}
    <h1>Certificat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateCertif</th>
				<th>compétition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for certificat in certificats %}
            <tr>
                <td>{{ certificat.id }}</td>
                <td>{{ certificat.dateCertif ? certificat.dateCertif|date('Y-m-d') : '' }}</td>
				<td>{{ certificat.getUneCompetition() }}</td>
                <td>
                    <a href="{{ path('certificat_show', {'id': certificat.id}) }}">show</a>
                    <a href="{{ path('certificat_edit', {'id': certificat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('certificat_new') }}">Create new</a>
{% endblock %}
