{% extends 'base.html.twig' %}

{% block title %}PersonneConfiance{% endblock %}

{% block body %}
    <h1>PersonneConfiance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne_confiance.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne_confiance.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personne_confiance.prenom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ personne_confiance.tel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personne_confiance_index') }}">back to list</a>

    <a href="{{ path('personne_confiance_edit', {'id': personne_confiance.id}) }}">edit</a>

    {{ include('personne_confiance/_delete_form.html.twig') }}
{% endblock %}
